
<div class="container-fluid">
    <div class="row">
        <div class="page-content drk-static-page-content">
            <div class="col-md-12 about-content">
                <h4 class="h4">
                    <span>About </span>
                    <span class="text-danger">Us</span>
                </h4>
                <p class="text-justify">
                    The era of success of DRK Group of Educational Institutions has started way back in 2004 when it was established by
                    Mr.D.B Chandra Sekhar Rao in the fond memory of his late father Sri Dasari Rama Kotaiah garu. Mr.D.B Chandra Shekar Rao 
                    is an eminent & successful entrepreneur, who has subsequently decided to focus on high quality education with the 
                    philanthropic motive, to act as a leader to promote economic & industrial growth of the country.
                    DRKIST belongs to the DRK Educational Society. DRK Group has envisaged significant investment of capital and 
                    resources to give shape to the development of the institute, in terms of Infrastructure, academic resources
                    and career development for its students. A vibrant effort has been made to consciously invest to improve the
                    conceptual and technical skill of the students.</p>

                <p class="text-justify">
                    DRK Institutes of Science & Technology features excellent Infrastructure, modern engineering labs with the latest
                    equipment, experienced faculties and lots of opportunities for development through our collaborations with our other 
                    organizations of the DRK Group and close ties with the best companies of the IT Sector.
                </p>
                <h4 class="text-c-color">                   
                    <span class="text-danger">Vision</span>
                </h4>
                <p class="text-justify">To impart futuristic technical education, imbibe knowledge, research and
                     instill high pattern of discipline, built on communal trust that serves the nation and the world.
                </p>
                <h4 class="text-c-color">
                    <span class="text-danger">Mission</span>
                </h4>
                <ul class="icons-list"  type="none">
                    <li class="text-justify"><i class="fa fa-check-circle"></i> To implant in students, the attitude values and vision that will prepare them to lead lives of personal integrity and civic responsibility.</li>
                    <li class="text-justify"><i class="fa fa-check-circle"></i> To develop the potential of human resources to meet the requirements of cutting edge technology.</li>
                    <li class="text-justify"><i class="fa fa-check-circle"></i> To instill discipline in students and make them technologically superior and ethically strong.</li>
                    <li class="text-justify"><i class="fa fa-check-circle"></i> To enable the students to develop their own abilities &amp; talents in order to discover their teaming potentials to the fullest under the privilege guidance of highly qualified and dedicated faculty.</li>
                </ul>
                <h4 class="text-c-color">
                    <span class="text-danger"> Quality Policy</span>                    
                </h4>
                <ul class="icons-list"  type="none">
                    <li class="text-justify"><i class="fa fa-check-circle"></i> Attract students from all walks of life</li>
                    <li class="text-justify"><i class="fa fa-check-circle"></i> Provide State of Art Technical education</li>
                    <li class="text-justify"><i class="fa fa-check-circle"></i> Provide avenues for holistic development </li>
                    <li class="text-justify"><i class="fa fa-check-circle"></i> Ensure timely checks and balances in the syllabus</li>
                    <li class="text-justify"><i class="fa fa-check-circle"></i> Have interactive sessions regularly to overcome any shortcomings in the method of instruction.</li>
                </ul>
            </div>
        </div>
    </div>
</div>
