<div class="container-fluid">
    <div class="row" >
        <div class="page-content drk-static-page-content">
            <div class="col-md-12 about-content">
                <h4 class="h4">
                    <span class="text-danger">Faculty Info</span></h4>
                <Div style="text-align: center;">
                <div>
                    <label><b>Name :</b></label>&nbsp;&nbsp;&nbsp;{{faculty.name}}
                </div>
                <div>
                    <label><b>Designation :</b></label>&nbsp;&nbsp;&nbsp;{{faculty.designation}}
                </div>
                <div>
                    <label><b>Qualification :</b></label>&nbsp;&nbsp;&nbsp;{{faculty.qualification}}
                </div>
                <div>
                    <label><b>Year of Experience :</b></label>&nbsp;&nbsp;&nbsp;{{faculty.exp}}
                </div>
                <div>
                    <label><b>Department code :</b></label>&nbsp;&nbsp;&nbsp;{{faculty.dept_code}}
                </div>
                <button  class="btn btn-warning" type="button" (click)="backToAdminPage()">Back</button>
                </Div>
            </div>
           
        </div>
    </div>
</div>