<section id="home" class="section">
    <div class="container-fluid">
        <div class="row ">
            <div class="col-md-6">
                <img class="img-responsive" src="../assets/banner-l1.jpg" style="max-width:100%;height:auto;">              
            </div>
            <div class="col-md-6">
                <img class="img-responsive" src="../assets/banner-l2.jpg" style="max-width:100%;height:100%;" >        
            </div>
        </div>
    </div>
</section>
<br>
<section class="section service">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 col-sm-6 service-box service-center">
                <div class="service-boxed">
                    <div class="service-icon">
                        <i class="fa fa-eye icon-medium-effect icon-effect-2"></i>
                    </div>
                    <div class="service-content">
                        <h4>OUR VISION</h4>
                        <p>To be a Premier Institution with sky-scraping educational values and research built on communal trust
                             and instill high pattern of discipline to serve the nation and the world.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 service-box service-center">
                <div class="service-boxed">
                    <div class="service-icon">
                        <i class="fa fa-eye icon-medium-effect icon-effect-2"></i>
                    </div>
                    <div class="service-content">
                        <h4>OUR MISSION</h4>
                        <p>
                            To implant in students, the attitude values
                             and vision that will prepare them to lead lives of personal integrity and civic responsibility.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 service-box service-center">
                <div class="service-boxed">
                    <div class="service-icon">
                        <i class="fa fa-eye icon-medium-effect icon-effect-2"></i>
                    </div>
                    <div class="service-content">
                        <h4>QUALITY</h4>
                        <p>
                            To Provide Quality Education to the Students to excel in the fields
                             of Engineering & Management to cater to the ever Challenging needs.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 service-box service-center">
                <div class="service-boxed">
                    <div class="service-icon">
                        <i class="fa fa-eye icon-medium-effect icon-effect-2"></i>
                    </div>
                    <div class="service-content">
                        <h4>PLACEMENTS</h4>
                        <p>
                            To strengthen one’s forte in today's ever challenging technical world, 
                            engineers require exemplary technical expertise combined.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
